.Timer {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.Timer-Text {
  width: 250px;
  display: inline-block;
  margin-right: 20px;
}

.Timer-Text--active {
  color: #FFD700;
}

.Timer-Sumtime--active {
  font-weight: bold;
  color: #FFD700;
}

.Timer-Buttons {
  margin-left: 10px;
  display: inline-block;
}

.Timer-HideIcon {
  position: absolute;
  left: 0;
  cursor: pointer;
  top: 5px;
}