.Timer {
  margin-bottom: 10px;
}

.Timer-Text {
  width: 100px;
  display: inline-block;
}

.Timer-Sumtime {
  font-weight: bold;
  color: #FFD700;
}

.Timer-Buttons {
  margin-left: 10px;
  display: inline-block;
}